/* Main layout */
body {
    display: grid;
    grid-template-columns: minmax(60vw, auto) minmax(30vw, auto);
    grid-template-rows: minmax(40vh, auto) auto;
    grid-template-areas: "video sidebar"
                         "comments sidebar";
    margin-top: 50px;
    margin: 50px 20px 0 20px;

    font-family: roboto, arial, sans-serif;
}

/* Material icon buttons */
.material-button {
    border: none;
    background-color: none;
    background: none;
    color:#555;
}

.circle {
    font-size:small;
    color: #a3a3a3;
    padding: 1px 3px;
}

/* Header and Header elements */
header {
    position: fixed;
    top: 0;
    margin-left: -20px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    height: 50px;
    width: 100vw;
}

header form {
    display: flex;
}

 .search-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 600px;
    height: 25px;
    padding: 0;
    border: 1px solid #a3a3a3;
    margin: 2px;

}

.search-form input {
    border: 0 none #a3a3a3;
    width: 530px;
    outline: none;
}

.search-button {
    height: 25px;
    width: 60px;
    margin: 0;
    padding: 0;
    border: 0 none #a3a3a3;
    background: #e8e8e8;;
}

header div button {
    margin-right: 10px;
    margin-left: 0;
}

/* Current video and Current video elements */
.current-video {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: space-between;
    margin: 10px 0 10px 0;
}

.current-video video {
    width: 60vw;
}

.current-video h1 {
    text-align: left;
    font-weight: 600;
    font-size: large;
    margin: 5px;
}

.info-menu {
    display: grid;
    grid-template-columns: 3fr 2fr 1fr;
    grid-template-rows: auto 1fr 1fr;
    grid-template-areas: "topinfo topmenu topmenu"
                         "description  description suscribe"
                         "description  description none";

    border: none;
    border-bottom: 1px solid #d8d8d8;
    padding: 5px;
}

.views-date {
    grid-area: topinfo;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: 5px 0;
    font-size: small;
}

.views-date p {
    margin: 5px;
}

.info-menu .description {
    grid-area: description;
    border-top: 1px solid #d8d8d8;
}

.info-menu .description p {
    line-height: 150%;
}

.info-menu .description button {
    background: none;
    border-style: none;
    color: #a3a3a3;
    font-weight: 600;
}

.suscribe-btn {
    grid-area: suscribe;
    height: 40px;
    margin: 10px 5px;
    border-style: none;
    border-radius: 2px;
    background: #c00;
    color: white;
    font-size: large;
    font-weight: bold;
}


/* Sidebar and it's elemnts (mainly mini-video) */
.categories {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.categories p {
    margin: 5px 5px;
    background-color: lightgray;
    padding: 5px 10px;
    border-radius: 15px;
    min-width: 30px;
    text-align: center;
}

.mini-video {
    display: flex;
    flex-direction: row;
    margin: 5px 0;
}

.mini-video img {
    width: 168px;
    height: 94px;
    margin: 0 5px 5px 0;
}

.mini-video-data {
    display: flex;
    flex-direction: column;
    align-items:baseline;
}

.mini-views-date {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


/* Comment's section and it's elements */
.comment {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.comment img {
    border-radius: 50%;
    align-self: baseline;
    margin: 0 5px;
}

.comment-data {
    display: flex;
    flex-direction: column;
    font-size: small;
}

.comment-user {
    font-weight: bold;
}

.comment-age{
    padding-left: 5px;
    color: #a3a3a3;
    font-weight: lighter;
}

.comment-content {
    margin: 10px 5px;
    white-space: pre-line;
    font-size: normal;
    line-height: 150%;
}

.comment button{
    background: none;
    border-style: none;
    color:#a3a3a3;
    font-size: normal;
    font-weight: bold;
}

.comment-score{
    color:#a3a3a3;
    font-size: large;
    font-weight: bold;
}